In [3]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [4]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)

# Print the series
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [6]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

my_series = pd.Series(my_list)

print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [8]:
#Q3. Create a Pandas DataFrame that contains the following data:

In [9]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'],'Age': [25, 30, 27],'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [10]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [11]:
'''
In Pandas, a DataFrame is a two-dimensional, tabular data structure with labeled axes (rows and columns). It is similar to a spreadsheet or SQL table, where data is arranged in rows and columns. Each column in a DataFrame can be of a different data type, and it allows for the efficient handling and manipulation of structured data.

On the other hand, a Series is a one-dimensional labeled array in Pandas. It is essentially a single column of a DataFrame. A DataFrame is a collection of Series, and you can think of a DataFrame as a container for Series objects.'''

'\nIn Pandas, a DataFrame is a two-dimensional, tabular data structure with labeled axes (rows and columns). It is similar to a spreadsheet or SQL table, where data is arranged in rows and columns. Each column in a DataFrame can be of a different data type, and it allows for the efficient handling and manipulation of structured data.\n\nOn the other hand, a Series is a one-dimensional labeled array in Pandas. It is essentially a single column of a DataFrame. A DataFrame is a collection of Series, and you can think of a DataFrame as a container for Series objects.'

In [12]:
import pandas as pd

series_data = pd.Series([10, 20, 30, 40], name='Numbers')

# Creating a DataFrame with a single column
df = pd.DataFrame(series_data)

# Adding another column to the DataFrame
df['Squared'] = df['Numbers'] ** 2

# Printing the Series
print("Series:")
print(series_data)
print("\nDataFrame:")
print(df)

Series:
0    10
1    20
2    30
3    40
Name: Numbers, dtype: int64

DataFrame:
   Numbers  Squared
0       10      100
1       20      400
2       30      900
3       40     1600

In [13]:
'''In this example, I first create a Series named 'Numbers' containing four elements. Then, I create a DataFrame df with a single column 'Numbers'. I can perform operations on this DataFrame, such as squaring the values and adding a new column 'Squared'. The output will show the difference between a standalone Series and a DataFrame containing a Series.'''

"In this example, I first create a Series named 'Numbers' containing four elements. Then, I create a DataFrame df with a single column 'Numbers'. I can perform operations on this DataFrame, such as squaring the values and adding a new column 'Squared'. The output will show the difference between a standalone Series and a DataFrame containing a Series."

In [14]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [17]:
import pandas as pd

# here i Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)

# Display the DataFrame
print("Original DataFrame:")
print(df)

# 1. head() and tail()
print("\nTop 2 rows:")
print(df.head(2))

# 2. describe()
print("\nSummary statistics:")
print(df.describe())

# 3. info()
print("\nDataFrame information:")
print(df.info())

# 4. sort_values()
print("\nSorted by Age in descending order:")
print(df.sort_values(by='Age', ascending=False))

# 5. groupby()
print("\nMean age by gender:")
print(df.groupby('Gender')['Age'].mean())

# 6. apply()
print("\nDouble the Age using apply:")
df['Age'] = df['Age'].apply(lambda x: x * 2)
print(df)

# 7. drop()
print("\nDrop the 'Gender' column:")
df.drop(['Gender'], axis=1, inplace=True)
print(df)

# 8. fillna()
print("\nFill missing values with 0:")
df.fillna(0, inplace=True)
print(df)

# 9. pivot_table() - Use 'Name' instead of 'Gender'
print("\nPivot table based on 'Name':")
pivot_table = pd.pivot_table(df, values='Age', index='Name', aggfunc='mean')
print(pivot_table)

# 10. merge() - Creating another DataFrame for merging
df2 = pd.DataFrame({'Name': ['David', 'Emma'],
                    'Age': [22, 35],
                    'Gender': ['Male', 'Female']})

print("\nMerging with another DataFrame:")
merged_df = pd.merge(df, df2, on='Name')
print(merged_df)

Original DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Top 2 rows:
    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male

Summary statistics:
             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

DataFrame information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None

Sorted by Age in descending order:
     Name  Age  Gender
1     Bob   30    Male
2  Claire   27  Female
0   Alice   25  Female

Mean age by gender:
Gender
Female    26.0
Male      30.0
Name: Age, dtype: float64

Double the Age using apply:
     Name  Age  Gender
0   Alice   50  Female
1     Bob   60    Male
2  Claire   54  Female

Drop the 'Gender' column:
     Name  Age
0   Alice   50
1     Bob   60
2  Claire   54

Fill missing values with 0:
     Name  Age
0   Alice   50
1     Bob   60
2  Claire   54

Pivot table based on 'Name':
        Age
Name
Alice    50
Bob      60
Claire   54

Merging with another DataFrame:
Empty DataFrame
Columns: [Name, Age_x, Age_y, Gender]
Index: []

In [18]:
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [19]:
'''Among the options provided (Series, DataFrame, Panel), DataFrame is mutable in nature.

Series: A pandas Series is immutable. Once a Series is created, you cannot modify its elements. You can, however, modify the Series by assigning a new value to the entire Series.

DataFrame: A pandas DataFrame is mutable. You can add, remove, or modify columns and rows in a DataFrame after it is created.

Panel: Panels were used in earlier versions of pandas to handle 3D data, but they have been deprecated as of pandas version 0.25.0. You should use MultiIndex DataFrames or Panel-like 3D structures using the xarray library instead.'''

'Among the options provided (Series, DataFrame, Panel), DataFrame is mutable in nature.\n\nSeries: A pandas Series is immutable. Once a Series is created, you cannot modify its elements. You can, however, modify the Series by assigning a new value to the entire Series.\n\nDataFrame: A pandas DataFrame is mutable. You can add, remove, or modify columns and rows in a DataFrame after it is created.\n\nPanel: Panels were used in earlier versions of pandas to handle 3D data, but they have been deprecated as of pandas version 0.25.0. You should use MultiIndex DataFrames or Panel-like 3D structures using the xarray library instead.'

In [20]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.

In [21]:
import pandas as pd

# here i created multiple Series
name_series = pd.Series(['Alice', 'Bob', 'Claire'], name='Name')
age_series = pd.Series([25, 30, 27], name='Age')
gender_series = pd.Series(['Female', 'Male', 'Female'], name='Gender')

# Combining Series into a dictionary
data = {'Name': name_series, 'Age': age_series, 'Gender': gender_series}

# Creating a DataFrame from the dictionary
df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [22]:
'''name_series, age_series, and gender_series are three different Series. The dictionary data is created with keys as column names and values as corresponding Series. Finally, a DataFrame (df) is created from the dictionary. Each Series becomes a column in the DataFrame.'''

'name_series, age_series, and gender_series are three different Series. The dictionary data is created with keys as column names and values as corresponding Series. Finally, a DataFrame (df) is created from the dictionary. Each Series becomes a column in the DataFrame.'